<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= name %></title>
        <link rel="stylesheet" href="../../dashboard.css">
        <style media="screen">
            hr:last-child {
              display: none;
            }
        </style>
    </head>
    <body>
        <div class="main">
            <h1><a href="/"><%= name %></a></h1>
            <p><%- content %></p>
        </div>
    </body>
</html>
